.test {
  width: 85%;
  font-size: 30px;
  margin: auto;
  text-indent: -1em;
}

.Q {
  text-align: center;
  font-size: 36px;
  margin: 20px auto;
}

.question {
  width: 76%;
  height: 210px;
  display: block;
  margin: 10px auto;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.8;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: center;
  word-wrap: normal;
}

.container {
  width: 75%;
  margin: 10px auto;
  flex-direction: column;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  text-indent: -2em;
}

.answer {
  color: #cd2020;
}

.explanation {
  color: rgb(44, 71, 192);
}

.options {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.button {
  width: 100%;
  height: 65px;
  padding: 0 20px;
  margin: 8px auto;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  color: black;
  border: brown;
  border-style: solid double;
  border-width: thick;
  cursor: pointer;
  transition: background-color 0.3s;
  letter-spacing: 3px;
  box-shadow: 0 0 0 9;
}

.options button:hover {
  background-color: #e0e0e0;
}

.result {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.score {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #cd2020;
  font-size: 50px;
  background-color: #ffffff;
  border: solid;
}

@keyframes shiny {
  0% {
    left: -20%;
  }
  10% {
    left: 120%;
  }
  100% {
    left: 120%;
  }
}

.restart {
  position: relative;
  display: block;
  width: 20%;
  height: 60px;
  margin: 0 auto;
  padding: 10px 20px;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 7px;
  background-color: #f5a419;
  overflow: hidden;
}

.restart::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -20%;
  width: 40px;
  height: 100%;
  transform: scale(2) rotate(20deg);
  background-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0.5) 100%,
    rgba(255, 255, 255, 0) 0%
  );

  /* アニメーション */
  animation-name: shiny;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* ボタンの文字とクリックした時に光る設定に変更 */
/*折り返しbutton*/
/* .button {
    display: inline-block;
    width: 500px;
    height: 180px;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: #f2f2f2;
    border-color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    letter-spacing: 2px;
  } */

/* 折り返しボタン */
/* .question {
    width: 75%;
    height: 160px;
    display: block;
    margin: 10px auto;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.8;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
  } */
