.contents {
  margin: 30px;
  text-align: center;
  color: rgb(39, 24, 24);
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 10px;
}

.text {
  width: 910px;
  margin: 10px auto;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: white;
  border-style: solid double;
  border-width: thick;
  border-radius: 10px;
  color: rgb(39, 24, 24);
  font-weight: bold;
  font-size: 50px;
  /*文字の間隔を開けるのと高さ調整 */
  line-height: 20px 100%;
}

/* 初級のバランスを考える */
.button {
  width: 400px;
  height: 90px;
  margin: 25px auto;
  background: rgb(200, 65, 65);
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-weight: bold;
  font-size: 60px;
  border-radius: 50px;
  box-shadow: 8px 8px 0 #bbb;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(205, 65, 65);
  box-shadow: none;
  transform: translate(2px, 2px);
}
